# multiple linear regression

# load dataset

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression#import mul lin algo from sklearn

In [4]:
df=pd.read_csv(r"/users/pawarbharath/downloads/MULLIN/carprices.csv")

In [6]:
df.shape

(20, 3)

In [7]:
df.head()

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100
3    22500         2          40000
4    46000         4          31500

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Mileage        20 non-null     int64
 1   Age(yrs)       20 non-null     int64
 2   Sell Price($)  20 non-null     int64
dtypes: int64(3)
memory usage: 608.0 bytes

# problem statement

# we need to predict the selling price based on the mileage  and  age of the car

In [9]:
df.columns

Index(['Mileage', 'Age(yrs)', 'Sell Price($)'], dtype='object')

In [10]:
#select the features
x=df[['Mileage','Age(yrs)']]

In [11]:
x.shape

(20, 2)

In [17]:
x.head(3)

   Mileage  Age(yrs)
0    69000         6
1    35000         3
2    57000         5

In [13]:
y=df[['Sell Price($)']]

In [15]:
y.shape

(20, 1)

In [16]:
y.head(3)

   Sell Price($)
0          18000
1          34000
2          26100

In [18]:
mlr=LinearRegression()

In [20]:
mlr.fit(x,y)

LinearRegression()

In [21]:
mlr.coef_

array([[-3.38301880e-01, -3.52792012e+02]])

In [22]:
mlr.intercept_

array([47223.34910508])

In [23]:
mlr.predict([[30000,2]])

array([[36368.7086868]])

y=mx+b

=m1x1+m2x2+b
=-3.38(30000)+-3.52(2)+47223
=36368