In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression#import mul lin algo from sklearn

In [25]:
df=pd.read_csv(r"/users/pawarbharath/downloads/MULLIN/carprices.csv")

In [26]:
df.shape

(20, 3)

In [69]:
df.head(2)

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000

In [27]:
x=df[['Mileage','Age(yrs)']]
y=df[['Sell Price($)']]

# split the data for analysis

In [28]:
from sklearn.model_selection import train_test_split

In [71]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.80,random_state=42)

In [72]:
x_train.shape

(16, 2)

In [73]:
y_train.shape

(16, 1)

In [74]:
x_test.shape

(4, 2)

In [75]:
x_test

    Mileage  Age(yrs)
0     69000         6
17    69000         5
15    25400         3
1     35000         3

In [76]:
x_train.head()

    Mileage  Age(yrs)
8     91000         8
5     59000         5
11    79000         7
3     22500         2
18    87600         8

In [77]:
lrm=LinearRegression()

In [78]:
lrm.fit(x_train,y_train)

LinearRegression()

In [79]:
lrm.coef_

array([[  -0.3525464, -309.1619098]])

In [80]:
lrm.intercept_

array([48443.15478494])

In [64]:
lrm.predict([[30000,2]])

array([[36891.50739107]])

In [81]:
lrm.predict(x_test)

array([[22262.48189206],
       [22571.64380185],
       [38560.99055662],
       [35176.5451397 ]])

In [82]:
y_test

    Sell Price($)
0           18000
17          19700
15          35000
1           34000

In [83]:
lrm.score(x_test,y_test)

0.8360253892678232

In [84]:
lrm.predict([[69000,6]]) #original selling  price is 18000

array([[22262.48189206]])

In [ ]:
#preduction value is 21,715 so 18000/21715 *100