# coronary heart disease

generalize:
    Damage or disease in the heart's major blood vessels.
The usual cause is the build-up of plaque. This causes coronary arteries to narrow, limiting blood flow to the heart.
Coronary heart disease can range from no symptoms, to chest pain, to a heart attack.
Treatments include lifestyle changes, medication, angioplasty and surgery.

# problem: to check wheather person have heart disease with respect to independent variables

# import library for reading the dataset

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"/users/pawarbharath/downloads/heart.csv")

In [3]:
df#dataset

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [4]:
df = df.rename({'TenYearCHD': 'heart disease'}, axis=1)  #rename target variable for better understanding

In [5]:
df

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,heart disease
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4238 non-null   int64
 1   age              4238 non-null   int64
 2   education        4133 non-null   float64
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4209 non-null   float64
 5   BPMeds           4185 non-null   float64
 6   prevalentStroke  4238 non-null   int64
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4188 non-null   float64
 10  sysBP            4238 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4219 non-null   float64
 13  heartRate        4237 non-null   float64
 14  glucose          3850 non-null   float64
 15  heart disease    4238 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 529.9 KB

In [7]:
df.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
heart disease        0
dtype: int64

In [8]:
df=df.drop(['education'],axis=1) #drop the education because it is not related to target variable

In [9]:
df

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,heart disease
0,1,39,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [10]:
df['cigsPerDay']=df['cigsPerDay'].fillna(df.cigsPerDay.mean()) #fill it with mean
df['BPMeds']=df['BPMeds'].fillna(df.BPMeds.mean())#fill it with mean value 
df['totChol']=df['totChol'].fillna(df.totChol.mean()) #fill it with mean value 
df['BMI']=df['BMI'].fillna(df.BMI.mean())#fill it with mean value 
df['glucose']=df['glucose'].fillna(df.glucose.mean())#fill it with mean value

In [11]:
df.isnull().sum()#no null values except the heart rate

male               0
age                0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          1
glucose            0
heart disease      0
dtype: int64

In [12]:
df=df.dropna()#droping the null value from heart rate

In [13]:
df.isnull().sum()#no null values in the dataset

male               0
age                0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
heart disease      0
dtype: int64

In [14]:
df#view of dataset

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,heart disease
0,1,39,0,0.0,0.00000,0,0,0,195.0,106.0,70.0,26.97,80.0,77.000000,0
1,0,46,0,0.0,0.00000,0,0,0,250.0,121.0,81.0,28.73,95.0,76.000000,0
2,1,48,1,20.0,0.00000,0,0,0,245.0,127.5,80.0,25.34,75.0,70.000000,0
3,0,61,1,30.0,0.00000,0,1,0,225.0,150.0,95.0,28.58,65.0,103.000000,1
4,0,46,1,23.0,0.00000,0,0,0,285.0,130.0,84.0,23.10,85.0,85.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1,1.0,0.00000,0,1,0,313.0,179.0,92.0,25.97,66.0,86.000000,1
4234,1,51,1,43.0,0.00000,0,0,0,207.0,126.5,80.0,19.71,65.0,68.000000,0
4235,0,48,1,20.0,0.02963,0,0,0,248.0,131.0,72.0,22.00,84.0,86.000000,0
4236,0,44,1,15.0,0.00000,0,0,0,210.0,126.5,87.0,19.16,86.0,81.966753,0
4237,0,52,0,0.0,0.00000,0,0,0,269.0,133.5,83.0,21.47,80.0,107.000000,0

In [15]:
df['BPMeds']=df['BPMeds'].round(2)
df['glucose']=df['glucose'].round(2)#rounding off the values for better training

<ipython-input-15-4b724d142c82>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BPMeds']=df['BPMeds'].round(2)
<ipython-input-15-4b724d142c82>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['glucose']=df['glucose'].round(2)#rounding off the values for better training

In [16]:
df#dataset after rounding off values

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,heart disease
0,1,39,0,0.0,0.00,0,0,0,195.0,106.0,70.0,26.97,80.0,77.00,0
1,0,46,0,0.0,0.00,0,0,0,250.0,121.0,81.0,28.73,95.0,76.00,0
2,1,48,1,20.0,0.00,0,0,0,245.0,127.5,80.0,25.34,75.0,70.00,0
3,0,61,1,30.0,0.00,0,1,0,225.0,150.0,95.0,28.58,65.0,103.00,1
4,0,46,1,23.0,0.00,0,0,0,285.0,130.0,84.0,23.10,85.0,85.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1,1.0,0.00,0,1,0,313.0,179.0,92.0,25.97,66.0,86.00,1
4234,1,51,1,43.0,0.00,0,0,0,207.0,126.5,80.0,19.71,65.0,68.00,0
4235,0,48,1,20.0,0.03,0,0,0,248.0,131.0,72.0,22.00,84.0,86.00,0
4236,0,44,1,15.0,0.00,0,0,0,210.0,126.5,87.0,19.16,86.0,81.97,0
4237,0,52,0,0.0,0.00,0,0,0,269.0,133.5,83.0,21.47,80.0,107.00,0

In [25]:
df['heart disease'].unique()#different classes

array([0, 1])

# put the independent features and target variable

In [31]:
x=df.iloc[:,0:14]
y=df.iloc[:,-1]

In [33]:
x

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
0,1,39,0,0.0,0.00,0,0,0,195.0,106.0,70.0,26.97,80.0,77.00
1,0,46,0,0.0,0.00,0,0,0,250.0,121.0,81.0,28.73,95.0,76.00
2,1,48,1,20.0,0.00,0,0,0,245.0,127.5,80.0,25.34,75.0,70.00
3,0,61,1,30.0,0.00,0,1,0,225.0,150.0,95.0,28.58,65.0,103.00
4,0,46,1,23.0,0.00,0,0,0,285.0,130.0,84.0,23.10,85.0,85.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1,1.0,0.00,0,1,0,313.0,179.0,92.0,25.97,66.0,86.00
4234,1,51,1,43.0,0.00,0,0,0,207.0,126.5,80.0,19.71,65.0,68.00
4235,0,48,1,20.0,0.03,0,0,0,248.0,131.0,72.0,22.00,84.0,86.00
4236,0,44,1,15.0,0.00,0,0,0,210.0,126.5,87.0,19.16,86.0,81.97
4237,0,52,0,0.0,0.00,0,0,0,269.0,133.5,83.0,21.47,80.0,107.00

In [35]:
y#target variable

0       0
1       0
2       0
3       1
4       0
       ..
4233    1
4234    0
4235    0
4236    0
4237    0
Name: heart disease, Length: 4237, dtype: int64

# check the target variable having no.of 0 and 1 using collections library

In [17]:
from collections import Counter#import the library

# converting imbalance dataset to balance dataset for fitting the algorithm

In [34]:
Counter(y)

Counter({0: 3594, 1: 643})

In [36]:
from imblearn.over_sampling import RandomOverSampler#import the library for oversampling

In [37]:
ros=RandomOverSampler()

In [39]:
x_resampled,y_resampled=ros.fit_resample(x,y)

In [40]:
x_resampled.shape

(7188, 14)

In [42]:
y_resampled.shape

(7188,)

In [41]:
Counter(y_resampled)#now the data is balanced i.e equal no of 1 and 0

Counter({0: 3594, 1: 3594})

In [43]:
y_resampled

0       0
1       0
2       0
3       1
4       0
       ..
7183    1
7184    1
7185    1
7186    1
7187    1
Name: heart disease, Length: 7188, dtype: int64

In [44]:
x_resampled#view of new dataset after balancing using over sampling

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
0,1,39,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.970000,80.0,77.00
1,0,46,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.730000,95.0,76.00
2,1,48,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.340000,75.0,70.00
3,0,61,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.580000,65.0,103.00
4,0,46,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.100000,85.0,85.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7183,1,47,1,20.0,0.0,0,1,1,296.0,141.0,93.0,28.500000,68.0,332.00
7184,1,44,1,20.0,0.0,0,1,0,319.0,158.0,90.0,29.150000,89.0,100.00
7185,0,61,0,0.0,1.0,0,1,0,209.0,133.0,93.0,25.802008,80.0,81.97
7186,1,64,0,0.0,0.0,0,0,0,210.0,120.0,68.0,24.770000,80.0,77.00
7187,1,51,1,30.0,0.0,0,0,0,241.0,126.5,78.5,29.910000,85.0,70.00

In [45]:
x_resampled.columns

Index(['male', 'age', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose'],
      dtype='object')

# feature selection techinque & importing required library

In [46]:
from sklearn.ensemble import ExtraTreesClassifier

In [48]:
model=ExtraTreesClassifier(n_estimators=100)

In [49]:
model.fit(x_resampled,y_resampled)

ExtraTreesClassifier()

In [50]:
model.feature_importances_#select the features to its high value realted

array([0.02781756, 0.1618957 , 0.01815774, 0.05384675, 0.01260552,
       0.00372727, 0.03950267, 0.01146456, 0.10953656, 0.12677725,
       0.1127977 , 0.10876449, 0.10370224, 0.10940398])

In [51]:
x_resampled.columns
#age,sysbp,diabp,totChol,glucose,bmi,heartrate,cigsPerDay,prevalentHyp,male,currentsmoker

Index(['male', 'age', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose'],
      dtype='object')

In [52]:
#selected top 10 features from 14 features to fit the model to get high accuracy
x1=x_resampled[['male','age','currentSmoker','cigsPerDay','prevalentHyp','totChol','sysBP','diaBP', 'BMI', 'heartRate', 'glucose']]

In [53]:
x1.shape#new independent variables for fiting the model

(7188, 11)

In [54]:
y_resampled.shape#target variable

(7188,)

# After feature selection new 11 top features for fitting the model ...>

In [55]:
x1#dataset of top 11

,male,age,currentSmoker,cigsPerDay,prevalentHyp,totChol,sysBP,diaBP,BMI,heartRate,glucose
0,1,39,0,0.0,0,195.0,106.0,70.0,26.970000,80.0,77.00
1,0,46,0,0.0,0,250.0,121.0,81.0,28.730000,95.0,76.00
2,1,48,1,20.0,0,245.0,127.5,80.0,25.340000,75.0,70.00
3,0,61,1,30.0,1,225.0,150.0,95.0,28.580000,65.0,103.00
4,0,46,1,23.0,0,285.0,130.0,84.0,23.100000,85.0,85.00
...,...,...,...,...,...,...,...,...,...,...,...
7183,1,47,1,20.0,1,296.0,141.0,93.0,28.500000,68.0,332.00
7184,1,44,1,20.0,1,319.0,158.0,90.0,29.150000,89.0,100.00
7185,0,61,0,0.0,1,209.0,133.0,93.0,25.802008,80.0,81.97
7186,1,64,0,0.0,0,210.0,120.0,68.0,24.770000,80.0,77.00
7187,1,51,1,30.0,0,241.0,126.5,78.5,29.910000,85.0,70.00

# machine learning works on magnitude of data so need  to convert values to 0 and 1 (pre process using min max scaler )

In [57]:
from sklearn.preprocessing import MinMaxScaler#import the library for preprocessing

In [58]:
scaler=MinMaxScaler()

In [59]:
rescalex1=scaler.fit_transform(x1)

In [60]:
rescalex1.shape

(7188, 11)

In [61]:
rescalex1#new values for independent varaibles

array([[1.        , 0.18421053, 0.        , ..., 0.27702375, 0.36363636,
        0.10451977],
       [0.        , 0.36842105, 0.        , ..., 0.31968008, 0.51515152,
        0.10169492],
       [1.        , 0.42105263, 1.        , ..., 0.23751818, 0.31313131,
        0.08474576],
       ...,
       [0.        , 0.76315789, 0.        , ..., 0.24871565, 0.36363636,
        0.11855932],
       [1.        , 0.84210526, 0.        , ..., 0.22370334, 0.36363636,
        0.10451977],
       [1.        , 0.5       , 1.        , ..., 0.34827921, 0.41414141,
        0.08474576]])

In [63]:
y_resampled.shape

(7188,)

# splitting the data into train and test with respect to train_size

In [64]:
from sklearn.model_selection import train_test_split
#import the library

In [65]:
x_train,x_test,y_train,y_test=train_test_split(rescalex1,y_resampled,train_size=0.80)

In [66]:
x_train.shape

(5750, 11)

In [67]:
x_test.shape

(1438, 11)

In [68]:
y_train.shape

(5750,)

In [69]:
y_test.shape

(1438,)

# import the model for fitting the training values

In [70]:
from sklearn.ensemble import RandomForestClassifier#import the algorithm

In [71]:
algo=RandomForestClassifier()#call the algorithm

In [72]:
algo.fit(x_train,y_train)#fit the algorithm

RandomForestClassifier()

In [73]:
y_pred=algo.predict(x_test)#predict the x_test values

# general visulization with respect to y_test and y_pred with COUNTER

In [74]:
from sklearn.metrics import confusion_matrix,classification_report#import the library

In [76]:
confusion_matrix(y_test,y_pred)#true positive and false positives

array([[691,  40],
       [  4, 703]])

# classification report

In [77]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.99      0.95      0.97       731
           1       0.95      0.99      0.97       707

    accuracy                           0.97      1438
   macro avg       0.97      0.97      0.97      1438
weighted avg       0.97      0.97      0.97      1438

In [ ]:
algorithm is ready to predict the heart disease with 97 % accuracy