In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"/users/pawarbharath/downloads/glass3.csv")

In [3]:
df.head(3)

        v1     v2    v3    v4     v5    v6    v7   v8   v9  class
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0      0
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0      0
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0      0

In [4]:
x=df.values[:,0:9]
y=df.values[:,9]

In [5]:
from collections import Counter

In [6]:
Counter(y)

Counter({0.0: 197, 1.0: 17})

In [7]:
from imblearn.under_sampling import RandomUnderSampler

In [8]:
rus=RandomUnderSampler()

In [12]:
x_undersample,y_undersample=rus.fit_resample(x,y)

In [13]:
y_undersample.shape

(34,)

In [14]:
Counter(y_undersample)

Counter({0.0: 17, 1.0: 17})

In [15]:
x_undersample.shape

(34, 9)