In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"/users/pawarbharath/downloads/glass3.csv")

In [3]:
df

          v1     v2    v3    v4     v5    v6    v7    v8   v9  class
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0      0
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0      0
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0      0
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0      0
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0      0
..       ...    ...   ...   ...    ...   ...   ...   ...  ...    ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0      0
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0      0
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0      0
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0      0
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0      0

[214 rows x 10 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      214 non-null    float64
 1   v2      214 non-null    float64
 2   v3      214 non-null    float64
 3   v4      214 non-null    float64
 4   v5      214 non-null    float64
 5   v6      214 non-null    float64
 6   v7      214 non-null    float64
 7   v8      214 non-null    float64
 8   v9      214 non-null    float64
 9   class   214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [5]:
x=df.values[:,0:9]
y=df.values[:,9]

In [6]:
from collections import Counter

In [7]:
Counter(y)

Counter({0.0: 197, 1.0: 17})

In [10]:
#pip install imblearn

Defaulting to user installation because normal site-packages is not writeable
Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.7.0-py3-none-any.whl (167 kB)
     |████████████████████████████████| 167 kB 435 kB/s eta 0:00:01
Requirement already satisfied: numpy>=1.13.3 in /opt/anaconda3/lib/python3.8/site-packages (from imbalanced-learn->imblearn) (1.18.5)
Requirement already satisfied: joblib>=0.11 in /opt/anaconda3/lib/python3.8/site-packages (from imbalanced-learn->imblearn) (0.16.0)
Requirement already satisfied: scipy>=0.19.1 in /opt/anaconda3/lib/python3.8/site-packages (from imbalanced-learn->imblearn) (1.5.0)
Requirement already satisfied: scikit-learn>=0.23 in /opt/anaconda3/lib/python3.8/site-packages (from imbalanced-learn->imblearn) (0.23.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.23->imbalanced-learn->imblearn) (2.1.0)
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.7.0 imblearn-0.0
Note: you may need to restart the kernel to use updated packages.

In [9]:
from imblearn.over_sampling import RandomOverSampler

In [10]:
ros=RandomOverSampler()

In [11]:
x_resample,y_resampled=ros.fit_resample(x,y)

In [12]:
x_resample

array([[ 1.52101, 13.64   ,  4.49   , ...,  8.75   ,  0.     ,  0.     ],
       [ 1.51761, 13.89   ,  3.6    , ...,  7.83   ,  0.     ,  0.     ],
       [ 1.51618, 13.53   ,  3.55   , ...,  7.78   ,  0.     ,  0.     ],
       ...,
       [ 1.51796, 13.5    ,  3.36   , ...,  8.81   ,  0.     ,  0.09   ],
       [ 1.51646, 13.04   ,  3.4    , ...,  8.58   ,  0.     ,  0.     ],
       [ 1.51832, 13.33   ,  3.34   , ...,  8.99   ,  0.     ,  0.     ]])

In [13]:
y_resampled

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1.])

In [14]:
y_resampled.shape

(394,)

In [15]:
x_resample.shape

(394, 9)