In [1]:
import pandas as pd

In [3]:
pima=pd.read_csv(r"/users/pawarbharath/downloads/decision/diabetes.csv")

In [4]:
pima

,preg_count,glucose_concentration,diastolic_bp,triceps_skin_fold_thickness,two_hr_serum_insulin,bmi,diabetes_pedi,age,diabetes_class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [8]:
x=pima.iloc[:,0:8]
y=pima.diabetes_class

In [9]:
x

,preg_count,glucose_concentration,diastolic_bp,triceps_skin_fold_thickness,two_hr_serum_insulin,bmi,diabetes_pedi,age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.80)

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [14]:
clf=DecisionTreeClassifier()

In [15]:
clf.fit(x_train,y_train)

DecisionTreeClassifier()

In [17]:
y_pred=clf.predict(x_test)

In [19]:
from sklearn.metrics import classification_report,confusion_matrix


print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.79      0.80      0.79       106
           1       0.54      0.52      0.53        48

    accuracy                           0.71       154
   macro avg       0.67      0.66      0.66       154
weighted avg       0.71      0.71      0.71       154

In [27]:
clf1 = DecisionTreeClassifier(criterion = "entropy", splitter = "random", max_depth = 20, min_samples_split = 10,min_samples_leaf = 2, max_features = 5)

In [28]:
clf1.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=20, max_features=5,
                       min_samples_leaf=2, min_samples_split=10,
                       splitter='random')

In [23]:
y_pred=clf1.predict(x_test)

In [24]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.76      0.85      0.80       106
           1       0.56      0.42      0.48        48

    accuracy                           0.71       154
   macro avg       0.66      0.63      0.64       154
weighted avg       0.70      0.71      0.70       154